body, html {
    height: 100%;
}

.main-content {
    padding-top: 2em;
}

.navbar a {
 color: #fff;
}


.pagenheimer {
    display: flex;
    justify-content: space-around;
}

.img-circle {
    border-radius: 50%;
}

.overlapping-images-small {
    position: relative;
    height: 96px;
}

.card-block {
    min-height: 100px;
}

.hidden {
    display: none;
}

/* some nux pallette bgs */

.bg-purple {
    background-color: #802392;
}

.bg-ebony {
    background-color: #5F634F;
}

.bg-blue {
    background-color: #3D5A80;
}

.bg-green {
    background-color: #008852;
}

.bg-silver {
    background-color: #ADAEB2;
}

.bg-yellow {
    background-color: #EFD28D;
}



.bg-orange {
    background-color: #F46036
}

/* Corpus Thumbnail Classes */


.thumb-wrapper {
  display: flex;

}

.corpus-thumb {
    height: 48px;
    width: 48px;
    position: relative;
    background-repeat: none;
    min-width: 48px;
}

.corpus-thumb > .fa {
    position: absolute;
    top: 32px;
    left: 32px;
    color: cyan;
}

.preview-plus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.corpus-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.corpus-preview .fa-plus {
    margin: 4px;
}


