#main_content {
    overflow: hidden;
}
.corpus-preview {
    display: flex;
    flex-wrap: wrap;


}
.corpus-select {
    overflow-y: scroll;
    height: 80vh;
    margin: 15px;
    padding: 10px;
}

.corpus-card  {
    margin: 2px;
    padding: 8px;
    background-color: aliceblue;
}

.corpus-thumb {
    /* this should appear */
    height: 48px;
    width: 48px;
    position: relative;
    background-repeat: none;
    min-width: 48px;
}

.corpus-thumb > .fa {
    position: absolute;
    top: 32px;
    left: 32px;
    color: cyan;
}

.corpus-desc {
    font-size: 55%;
}

.tag-text {
    font-size: 40%;
}

.corpus-card-icon .fa {
  position: relative ;
  top: 52px;
  left: 33px;
  font-size: 16px;
  color: cyan;
}

.corpus-preview-icon .fa {
  position: relative ;
  top: 18px;
  left: 48px;
  font-size: 16px;
  color: cyan;
}

/* make this thing line up */

.fa-plus {
    position:relative;
    margin: 10px;
    padding-top: 9px;

}

.preview-thumb-wrapper {
    display: flex;
}