#main_content {
    overflow: hidden;
}

#create_mashup_button {
    margin-top: 10px;
}
/* preview */

.corpus-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}


.corpus-preview .fa-plus {
    margin: 4px;
}

.preview-thumb-wrapper {
    display: flex;
}

/* preview example */
.example-thumbs {
    display: flex;
}

.example-thumbs .fa {
    margin: 4px;
}

.preview-plus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* corpus select */

.corpus-select {
    overflow-y: scroll;
    height: 80vh;
    margin: 15px;
    padding: 10px;
}

.corpus-card  {
    margin: 2px;
    padding: 14px;
    background-color: aliceblue;
}

.corpus-title {
    margin-left: 6px
}

.corpus-desc {
    margin-left: 6px
}

.corpus-thumb {
    /* this should appear */
    height: 48px;
    width: 48px;
    position: relative;
    background-repeat: none;
    min-width: 48px;
}

.corpus-thumb > .fa {
    position: absolute;
    top: 32px;
    left: 32px;
    color: cyan;
}

.corpus-desc {
    font-size: 55%;
}

.tag-text {
    font-size: 40%;
}

