{% extends "base.html" %}
{% load static %}
{% block more_headers %}
    <!-- custom css and js includes go here -->
{% endblock %}
{% block title %}
Detail for {{ bot.name }}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="card-header text-xs-center">
                <div class="corpus-preview">
                            {% for corpus in object.mashup.corpora.all %}
                                {% if corpus %}
                                    <span class="thumb-wrapper">
                                        <div style="background-image:url({{ corpus.image_url }})"
                                                    class="corpus-thumb"
                                                         title="{{ corpus.desc }}" id="cimage{{ corpus.id }}"
                                                         data-corpus_id="{{ corpus.id }}">
                                        {#  include the appropriate icon #}
                                                        {% if corpus.type == "TW" %}
                                                            <i class="fa fa-twitter"></i>
                                                        {% elif corpus.type == "EX" %}
                                                            <i class="fa fa-book"></i>
                                                        {% endif %}
                                        </div>
                                    </span>
                        {% if not forloop.last %}
                            {# include the plus between elements #}
                            <span class="preview-plus">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </span>
                        {% endif %} {# end inner loop #}
                            {% endif %}
                        {% endfor %}
                    </div>
        </div>
    </div>

{% endblock %}
