{% extends "base.html" %}
{% load static %}
{% block more_headers %}
    <style>
    #main_content {
        overflow: hidden;
    }
    .corpus-select {
        overflow-y: scroll;
        height: 80vh;
        margin: 15px;
        padding: 10px;
    }

    .corpus-card  {
        margin: 2px;
        padding: 8px;
        background-color: aliceblue;
    }

    .corpus-desc {
        font-size: 55%;
    }

    .tag-text {
        font-size: 40%;
    }

    .corpus-thumb {
        float: left;
    }


    </style>
{% endblock %}
{% block main_content %}
<section id="main_content">
    <div class="container">
        <form action="" method="post" id="create_corpus_form">
            {% csrf_token %}
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    {{ form.errors }}
                    {{ form.title }}
                    {{ form.description }}
                    {{ form.algorithm }}
                </div>
                <input type="submit" value="submit">
                <div id="corpus-preview" class="jumbotron"></div>
            </div><!-- end column -->
            <div class="col-xs-6 list-group">
                <div class="corpus-select" id="cselect{{ corpus.id }}" data-corpus="{{ corpus.id }}">
                    {% for corpus in form.fields.corpora.queryset.all %}
                        <div class="card corpus-card list-group-item" id="corpus-card{{ corpus.id }}" data-corpus="{{ corpus.id }}">
                            <input type="checkbox" name="corpora" value="{{ corpus.id }}"
                                   id="cbox{{ corpus.id }}" class="hidden">
                            <div class="media">
                                <div class="media-left media-middle corpus-card-icon">
                                            <!-- include the appropriate icon -->
                                                {% if corpus.type == "TW" %}
                                                    <i class="fa fa-twitter"></i>
                                                {% elif corpus.type == "EX" %}
                                                    <i class="fa fa-book"></i>
                                                {% endif %}
                                            <img src="{{ corpus.image_url }}" class="media-object" title="{{ corpus.desc }}"
                                                 id="cimage{{ corpus.id }}" data-corpus="{{ corpus.id }}">

                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">
                                        {{ corpus.twitter_username }}
                                        <span class="tag tag-info tag-text">
                                            {{ corpus.mash_count }} uses
                                        </span>
                                    </h6>
                                    <p class="corpus-desc">
                                        {{ corpus.desc }}
                                    </p>
                                </div>
                            </div>
                        </div><!-- end corpus-card -->
                    {% endfor %}
                </div><!-- end corpus-select -->
        </div><!-- end row -->
        </form>
    </div>
    </section>
</form>
<script src="{% static "js/create_mashup.js" %}"></script>
{% endblock %}