{% extends "base.html" %}
{% load static %}
{% load content_extras %}
{% block more_headers %}

    <link href="{% static 'css/content/create_mashup.css' %}" rel="stylesheet">

{% endblock %}

{% block main_content %}
<section id="main_content">
    <div class="container">
        <form action="" method="post" id="create_corpus_form">
            {% csrf_token %}
        <div class="row">
            <div class="col-xs-6">
                <div class="card">
                    <div class="card-header text-xs-center">
                        <span class="h5 text-xs-center" id="title_preview">
                            <span class="text-muted" id="example_title">My Awesome Mashup</span><!-- mashup title goes here -->
                        </span>
                    </div><!-- end card header -->
                    <div class="card-block corpus-preview" id="corpus_preview">
                        <!-- Corpus thumbnails go here -->

                        <span id="example_thumbs" class="example-thumbs">
                            <!-- grayed out example stuff -->
                            <i class="fa fa-meh-o fa-4x text-muted" aria-hidden="true"></i>
                            <span id="example_plus" class="preview-plus">
                                <i class="fa fa-plus text-muted" aria-hidden="true" id="example_plus_char"></i>
                            </span>
                            <i class="fa fa-smile-o fa-4x text-muted" aria-hidden="true"></i>
                        </span>
                    </div><!-- end card body -->

                </div><!-- end card -->

                <fieldset class="form-group">
                    {{ form.errors }}
                    <div class="input-group">
                        <span class="input-group-addon">
                            Mashup Title
                        </span>
                            {{ form.title|add_attrs:"class:form-control, placeholder: Mashup Title, aria-label: Input the mashup title" }}
                    </div>
                    {{ form.description|add_attrs:"class:form-control, placeholder: A brief description of this mashup, aria-label: Input for mashup description" }}
                      <div class="input-group">
                        <span class="input-group-addon">
                            Mashup Method
                        </span>
                        {{ form.algorithm|add_attrs:"class:form-control, placeholder: The method used to combine text, aria-label: Select for mashup algorithm" }}
                      </div>
                    <input type="submit" value="Create it!" class="btn-primary" id="create_mashup_button">
                </fieldset>
            </div><!-- end column -->

            <div class="col-xs-6 list-group">
                <div class="corpus-select" id="corpus_select">
                    {% for corpus in form.fields.corpora.queryset.all %}
                        <div class="card corpus-card list-group-item" id="corpus-card{{ corpus.id }}"
                             data-corpus_id="{{ corpus.id }}" data-corpus_image_url="{{ corpus.image_url }}"
                             data-corpus_type="{{ corpus.type }}">
                            <input type="checkbox" name="corpora" value="{{ corpus.id }}"
                                   id="cbox{{ corpus.id }}" class="hidden">
                            <div class="media">
                                    <div style="background-image:
                                            url(
                                            {% if corpus.variety == "TW" %}
                                                {# make sure there actually is an image #}
                                                {% if corpus.image_url %}
                                                    {{ corpus.image_url }}
                                                {# otherwise load a placeholder #}
                                                {% else %}
                                                    {% static "img/corpus_placeholder.png" %}
                                                {% endif %}
                                            {% elif corpus.variety == "EX" %}
                                                {% static "img/excerpt_thumb.png" %}
                                            {% endif %}

                                            )"
                                         class="media-object media-left media-middle corpus-thumb"
                                         title="{{ corpus.description }}" id="cimage{{ corpus.id }}"
                                         data-corpus_id="{{ corpus.id }}">

                                        {#  include the appropriate icon #}
                                        {% if corpus.type == "TW" %}
                                            <i class="fa fa-twitter"></i>
                                        {% elif corpus.type == "EX" %}
                                            <i class="fa fa-book"></i>
                                        {% endif %}

                                    </div>
                                <div class="media-body">
                                    <h6 class="media-heading corpus-title">
                                        {% if corpus.type == 'TW' %}
                                            {{ corpus.twitter_username }}
                                        {% else %}
                                            {{ corpus.author }}
                                        {% endif %}
                                        <span class="tag tag-info tag-text">
                                            {{ corpus.mash_count }} uses
                                        </span>
                                    </h6>
                                    <p class="corpus-desc">
                                        {{ corpus.description }}
                                    </p>
                                </div>
                            </div>
                        </div><!-- end corpus-card -->
                    {% endfor %}
                </div><!-- end corpus-select -->
            </div><!--end col-xs-6 -->
        </div><!-- end row -->
     </form>
    </div><!-- end container> -->
    </section>
{% endblock %}
{% block footers %}
<script src="{% static "js/content/create_mashup.js" %}"></script>
{% endblock %}
