{% extends 'base.html' %}

{% block main_content %}
    <a href="/create_mashup/">Create another mashup!</a>
<div class="container-responsive">
    <table class="table table-striped">
        {% for mashup in object_list %}
        <tr class="form-row">
            <td>
                <a href="/mashup_detail/{{ mashup.id }}/">
                {{ mashup.title }}
                </a>
                <span class="tag tag-pill tag-default">{{ mashup.outputs.count }}</span>
            </td>
            <td>{% for corpus in mashup.corpora.all %}
                    {% if corpus %}
                        <img src= "{{ corpus.image_url }}">
                        {% if not forloop.last %}
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </td>
            <td>{{ mashup.description }}</td>
            <td>
                <form action="/create_output/" method="POST" target="_blank">
                    {% csrf_token %}
                    <input type="hidden" name="mashup_id" value="{{ mashup.id }}">
                    <input type="submit" value="Mash it!" class="btn-default">
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}