{% extends "base.html" %}
{% block title %}
    {{ object.mashup.title }}
{% endblock %}

{% block main_content %}
    <div class="col-xs-4">
<div class="card">
    <div class="card-header">
    {{ object.mashup.title }}
    </div>
    <div class="card-block">
        <p class="card-text">{{ object.body }}</p>
    </div>
</div>
    <form action="/create_output/" method="POST" target="_self">
                    {% csrf_token %}
                    <input type="hidden" name="mashup_id" value="{{ object.mashup.id }}">
                    <input type="submit" value="Mash Another!" class="btn-default">
    </form>
    </div>
{% endblock %}