
.pagenheimer {
    display: flex;
    justify-content: space-around;
}

.img-circle {
    border-radius: 50%;
}

.overlapping-images-small {
    position: relative;
    height: 96px;
}

.wrapper {
   display: relative;
}

.wrapper .fa {
  position: relative ;
  top: 18px;
  left: -20px;
  font-size: 16px;
  color: cyan;

}

.card-block {
    min-height: 100px;
}



