
.pagenheimer {
    display: flex;
    justify-content: space-around;
}

.img-circle {
    border-radius: 50%;
}

.overlapping-images-small {
    position: relative;
    height: 96px;
}

.icon-wrapper .fa {
  position: relative ;
  top: 18px;
  left: -20px;
  font-size: 16px;
  color: cyan;

}

.corpus-card-icon .fa {
  position: relative ;
  top: 52px;
  left: 33px;
  font-size: 16px;
  color: cyan;

}

}

.card-block {
    min-height: 100px;
}

.hidden {
    display: none;
}


