{% extends "base.html" %}
{% load static %}
{% block more_headers %}
    <!-- custom css and js includes go here -->
{% endblock %}
{% block title %}
Detail for {{ bot.name }}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="card-header text-xs-center">
            {# Show prompt to authorize/configure twitter oauth #}
            {% if not bot.consumer_secret %}
                <p>It looks like you haven't configured this bot to post on twitter yet.</p>
                <p>To get started, create a new <a href="http://www.twitter.com/">Twitter</a> account for this bot and log in to it.</p>
                <p>After that, click <a href="/authorize_bot/{{ bot.id }}/">here</p>
            {% endif %}
        </div>
        </div>
    </div>

{% endblock %}
