{% extends "base.html" %}
{% load static %}
{% block more_headers %}
    <!-- custom css and js includes go here -->
{% endblock %}
{% block title %}
Detail for {{ bot.name }}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="card-header text-xs-center">
            {# Show prompt to authorize/configure twitter oauth #}
            <p>To authorize ewe_ebooks to post this bot's tweets to twitter, click
                <a href="{{ bot_auth_url }}">here</a></p>
        </div>
    </div>

{% endblock %}