<!-- content to be included in navbar -->
<span class="navbar-text float-xs-left">
    <li class="nav-item dropdown">
        <a class="nav-link navbar-inverse dropdown-toggle nav-top" href="#" id="userDropdown"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-drivers-license fa-2x"></i>
        </a>
        <div class="dropdown-menu bg-inverse" aria-labelledby="userDropdown">
            {# Show dashboard and logout links to this user if they are logged in #}
            {% if request.user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'account_profile' %}">{{ request.user.username }}</a>
                <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
                <a class="dropdown-item" href="{%  url 'account_logout' %}">Log Out</a>
            {# Otherwise, show login and signup links #}
            {% else %}
                <a class="dropdown-item" href="{% url 'account_login' %}">Log In</a>
                <a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </li>
</span>

<span class="navbar-text float-xs-left">
    <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-top" href="#" id="outputDropdown"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Output</a>
        <div class="dropdown-menu bg-inverse" aria-labelledby="outputDropdown">
            <a class="dropdown-item" href="{% url 'output-list' %}">Browse Popular Output</a>
            {# Show a link to this user's unique content if they are logged in #}
            {% if request.user.is_authenticated %}
                <a class="dropdown-item" href="/list_output/{{ request.user.id }}/">Your Mashups' Output</a>
            {% endif %}
        </div>
    </li>
</span>

<span class="navbar-text float-xs-left">
    <li class="nav-item dropdown">
        <a class="nav-link navbar-inverse dropdown-toggle" href="#" id="mashupsDropdown"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mashups</a>
        <div class="dropdown-menu bg-inverse" aria-labelledby="mashupsDropdown">
            <a class="dropdown-item" href="/list_mashups/">Browse Mashups</a>
            <a class="dropdown-item" href="/create_mashup/">Create a Mashup</a>
            {% if request.user.is_authenticated %}
                <a class="dropdown-item" href="/my_mashups/">Your Mashups</a>
            {% endif %}

        </div>
    </li>
</span>

<span class="navbar-text float-xs-left">
    <li class="nav-item dropdown">
        <a class="nav-link navbar-inverse dropdown-toggle" href="#" id="sourcesDropdown"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sources</a>
        <div class="dropdown-menu bg-inverse" aria-labelledby="sourcesDropdown">
            <a class="dropdown-item" href="/list_sources/">Browse Existing Sources</a>
            <a class="dropdown-item" href="/add_source/">Add a Source</a>
            <!-- management link placeholder
            <a class="dropdown-item" href="#">Manage</a>
            -->
        </div>
    </li>
</span>
<span class="navbar-text float-xs-left">
    <li class="nav-item dropdown">
        <a class="nav-link navbar-inverse dropdown-toggle" href="#" id="botsDropdown"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bots</a>
        <div class="dropdown-menu bg-inverse" aria-labelledby="botsDropdown">
            {% if request.user.is_authenticated %}
                <a class="dropdown-item" href="/create_bot/">Create a Bot</a>
                <a class="dropdown-item" href="/list_bots/{{ request.user.id }}/">Your Bots</a>
            {% else %}
            <p>To get started:</p>
                <a class="dropdown-item" href="{% url 'account_login' %}">Log In</a>
                <a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}
            <!-- management link placeholder
            <a class="dropdown-item" href="#">Manage</a>
            -->
        </div>
    </li>
</span>
<a class="navbar-brand float-xs-right" href="https://github.com/jaymcgrath/ewe_ebooks">
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-lg" style="color: cyan; "></i>
            <i class="fa fa-random fa-stack-1x" style="font-size: .45em; margin-top: 1px; color: darkblue;"></i>
        </span>
       Ewe_Ebooks
    </a>