<!-- Header -->
<nav class="navbar navbar-dark bg-inverse">
<item class="nav-item pull-left" style="display: flex; flex-direction: column; justify-content: space-around;  align-items: center;">
    <i class="fa fa-user fa-2x fa-inverse"></i>
    <span class="tag-pill tag-default" style="font-size:.6em;">
    {% if request.user.is_authenticated %}
        <a href="/dashboard/" style="text-decoration: none;">
        {{ request.user.username }}
        </a>
    {% else %}<a href="{% url 'login' %}">Login</a>
    {% endif %}
    </span>
</item>


<span class="navbar-text float-xs-left">
    <li class="nav-item dropdown">
        <a class="nav-link navbar-inverse dropdown-toggle" href="http://example.com" id="supportedContentDropdown"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Output</a>
        <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
            <a class="dropdown-item" href="/list_output/all">Browse Popular</a>
            {# Show a link to this user's unique content if they are logged in #}
            {% if request.user.is_authenticated %}
                <a class="dropdown-item" href="/list_output/{{ request.user.id }}/">Output You've Created</a>
            {% endif %}
        </div>
    </li>
</span>

<span class="navbar-text float-xs-left">
    <li class="nav-item dropdown">
        <a class="nav-link navbar-inverse dropdown-toggle" href="http://example.com" id="supportedContentDropdown"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Combinations</a>
        <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
            <a class="dropdown-item" href="/list_mashups/">Browse</a>
            <a class="dropdown-item" href="/create_mashup/">Create</a>
            <a class="dropdown-item" href="/list_mashups/popular/">Popular</a>
        </div>
    </li>
</span>

<span class="navbar-text float-xs-left">
    <li class="nav-item dropdown">
        <a class="nav-link navbar-inverse dropdown-toggle" href="http://example.com" id="supportedContentDropdown"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sources</a>
        <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
            <a class="dropdown-item" href="/list_sources/">Browse Existing Sources</a>
            <a class="dropdown-item" href="/add_source/">Add A Source</a>
            <!-- management link placeholder
            <a class="dropdown-item" href="#">Manage</a>
            -->
        </div>
    </li>
</span>
<a class="navbar-brand float-xs-right" href="https://github.com/jaymcgrath/ewe_ebooks">
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-lg" style="color: cyan; "></i>
            <i class="fa fa-random fa-stack-1x" style="font-size: .45em; margin-top: 1px; color: darkblue;"></i>
        </span>
       Ewe_Ebooks
    </a>
</nav>

<!-- /Header -->